html {
	touch-action: manipulation;
}
body{
	background:rgba(0,0,0,0.3);
	/* color: #61443e; */
	font-family:Monospace;
	font-size:15px;
	margin: 0;
	padding:0px;
	overflow: hidden;
}
canvas {
    width: 100%;
    height: 100%
}
.button{
	background-color:#fa5656;
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	position: absolute;
	bottom:50px;
	opacity:0.5;
  }
  /* button:hover {
	  background-color: #5a5a1a
  } */
  button:active {
	background-color: #fffffc;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }
  .linkbtn {
	background-color: rgb(24, 248, 117);
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	position: absolute;
	bottom:10px;
	opacity:0.5;
  }